{% extends 'base.html.twig' %}

{% block title %}La Nîmes'alerie{% endblock %}

{% block body %}

    {% include 'default/parts/header.html.twig' %}

<main>
    panier enregistré en BDD
</main>



{% endblock %}