{% extends 'base-admin.html.twig' %}

{% block title %}{{ parent() }}Modifier la catégorie{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <h1 class="mb-3 ms-4">Modifier la catégorie</h1>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
            <a href="{{ path('admin_category_index')}}" class="btn btn-dark rounded-pill">Retour</a>
        </div>
    </div>

    {{ include('admin/admin_category/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('admin/admin_category/_delete_form.html.twig') }}
{% endblock %}
