{% extends 'base-admin.html.twig' %}

{% block title %}{{ parent() }} des catégories{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <a href="{{ path('admin_category_index')}}" class="btn btn-back ms-3 mb-3">Retour</a>
            <h1 class="mb-3 ms-3">Modifier la catégorie</h1>
        </div>
    </div>

    {{ include('admin/admin_category/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
