{% extends 'base-admin.html.twig' %}

{% block title %}{{ parent() }} Nouvelle Catégorie{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 class="mb-3 ms-4">Ajouter une nouvelle catégorie</h1>
             </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a href="{{ path('admin_category_index')}}" class="btn btn-dark rounded-pill">Retour</a>
            </div>
        </div>
        <div class="col">
            {{ include('admin/admin_category/_form.html.twig') }}
        </div>
    </div>

{% endblock %}