{% extends 'base-admin.html.twig' %}

{% block title %}{{ parent() }} des catégories{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-12">
                <a href="{{ path('admin_category_index')}}" class="btn btn-back ms-3 mb-3">Retour</a>
                <h1 class="mb-3 ms-3">Ajouter une nouvelle catégorie</h1>
             </div>
        </div>

        <div class="row">
            {{ include('admin/admin_category/_form.html.twig') }}
        </div>
    </div>

{% endblock %}