/******************************************fonts******************************************************/
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Raleway:wght@100;200;400;600;700;800&display=swap");
body {
  font-family: "Raleway";
}

h1,
h2,
h3,
h4,
h5,
h6,
.titre {
  font-family: "Fuzzy Bubbles";
}

/***********************************************colors***************************************************/
.color-star {
  color: yellowgreen;
}

.bg-star {
  background-color: yellowgreen;
}

.price {
  font-weight: bold;
  color: darkred;
}

/****************************headers*************************/
#headerHome {
  height: 460px;
  background: url("../img/headers/terra.jpg") center no-repeat;
  background-size: cover;
  color: white;
}
.logo-header {
  margin-top: 10%;
}


#headerDogs {
  height: 460px;
  background: url("../img/headers/headerDogs.jpg") center no-repeat;
  background-size: cover;
  color: white;
}

#headerCats {
  height: 460px;
  background: url("../img/headers/headerCats.jpg") center no-repeat;
  background-size: cover;
  color: white;
}

#headerRodents {
  height: 460px;
  background: url("../img/headers/headerRodents.jpg") center no-repeat;
  background-size: cover;
  color: white;
}

#headerFish {
  height: 460px;
  background: url("../img/headers/headerFish.jpg") center no-repeat;
  background-size: cover;
  color: white;
}

/***********************************************NAVBAR********************************************************/

.dropdown-menu {
  background-color: #0f1e44;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(100,100,100,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: white;
}

.text-bg-rounded {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 60px 60px 60px 60px;
}

.right-menu-bg {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px 30px 30px 30px;
}

.nav-link{
  color: white;
} /* Lien non visité */
.nav-link:visited {
  color: white;
} /* Lien visité */
.nav-link:hover {
  color: lightgrey;
} /* Lien survolé*/
.nav-link:active {
  color: lightgrey;
}

/**************************************************BOUTONS*****************************************************/
.panier {
  background-color: yellowgreen;
  border-radius: 20px 10px 20px 10px;
  width: 125px;
  height: 35px;
  border: none;
  color: #ffffff;
}
.auth {
  background-color: yellowgreen;
  border-radius: 20px 10px 20px 10px;
  border: none;
  color: #ffffff;
}

.space {
  background:url("../img/stars.jpg") center no-repeat ;
}

/**************************************************MODALES*****************************************************/
.modal-content {
  background: url("../img/stars.jpg") center no-repeat;
  background-size: cover;
  border-color: white;
}

/**********************************************CARDS***ET MAP GOOGLE********************************************/
.card {
  color: black;
  border-radius: 10px 10px 10px 10px;
  outline-color: #0f1e44;
  height: 100%;
  width: 100%;
}

/**********************************************LIENS************************************************************/
a:link {
  color: white;
} /* Lien non visité */
a:visited {
  color: white;
} /* Lien visité */
a:hover {
  color: lightgrey;
} /* Lien survolé*/
a:active {
  color: lightgrey;
}

/****************************footer*************************/
footer {
  height: 100%;
  overflow: hidden;
  background: url("../img/footers/terraReverse.jpg") center no-repeat;
  background-size: cover;
  color: white;
}

/***************************search bar************************/


/***************************pagination************************/
.page-link:link, .nbResults:link {
  color: black;
} 
.page-link:visited, .nbResults:visited {
  color: black;
} 
.page-link:hover, .nbResults:hover {
  color: black;
} 
.page-link:active, .nbResults:active {
  color: black;
}

/***************************mon compte************************/
.card-login{
  width:50%;
  border-radius: 60px 60px 60px 60px;
  background: url("../img/stars.jpg") center no-repeat;
  background-size: cover;
  border-color: white;
  color:white;
}
.card-register{
  width:80%;
  border-radius: 60px 60px 60px 60px;
  background: url("../img/stars.jpg") center no-repeat;
  background-size: cover;
  border-color: white;
  color:white;
}
.card-account{
  width:80%;
  border-radius: 60px 60px 60px 60px;
  background: url("../img/stars.jpg") center no-repeat;
  background-size: cover;
  border-color: white;
  color:white;
}
.card-address{
  border-radius: 20px 20px 20px 20px;
  background: url("../img/stars.jpg") center no-repeat;
  background-size: cover;
  border-color: white;
  color:white;
}

.card-invoice{
  border-radius: 20px 20px 20px 20px;
  background: url("../img/stars.jpg") center no-repeat;
  background-size: cover;
  border-color: white;
  color: white;
}

/***************************formulaires************************/
.thumbnail {
  width: 150px;
}