<div class="col-4 my-5">
  <div class="card shadow">
    <div class="card-body text-center">
      <h5 class="card-title">Avec plein de beaux diagrammes !</h5>
      <canvas
        baseChart
        [datasets]="datasets"
        [labels]="labels"
        [type]="type"
        [options]="options"
        [legend]="true"
      >
      </canvas>
    </div>
  </div>
</div>
