<header>
  <section>
    <div class="container-fluid bg-dark text-white">
      <div class="row">
        <div class="col-2">
          <img
            src="{{ asset('img/logos/logoClear.jpg') }}"
            width="250px"
            height="100%"
            alt="la Nimes'Alerie"
            class="img-fluid mx-2 my-4"
          />
        </div>
        <div class="col-8 text-center">
          <img
            src="{{ asset('img/chien-loupe.jpg') }}"
            width="150px"
            height="100%"
            alt="la Nimes'Alerie"
            class="img-fluid my-4 rounded-circle"
          />
          <h1 class="mb-4 text-uppercase">dashboard</h1>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-4">
          <form action="{{ path('search')}}" enctype="multipart/form-data" method="get" class="input-group mb-3 bg-light p-1 rounded-pill d-flex justify-content-between">
            <input type="text" class="border-0 bg-light rounded-pill ms-2" placeholder="Recherche rapide" aria-label="research">
            <div class="input-group-append">
              <button class="btn bg-light rounded-pill" type="submit">
                <img src="{{ asset('img/icons/loupe.png') }}" width="30px" alt="rechercher"/>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</header>
