<header>
  <section>
    <div class="container-fluid bg-dark text-white">
      <div class="row">
        <div class="col-2">
          <img
            src="{{ asset('img/logos/logoClear.jpg') }}"
            width="250px"
            height="100%"
            alt="la Nimes'Alerie"
            class="img-fluid mx-2 my-4"
          />
        </div>
        <div class="col-8 text-center">
          <img
            src="{{ asset('img/chien-loupe.jpg') }}"
            width="150px"
            height="100%"
            alt="la Nimes'Alerie"
            class="img-fluid my-4 rounded-circle"
          />
          <h1 class="mb-4 text-uppercase">dashboard</h1>
        </div>
      </div>
    </div>
  </section>
</header>
