<div class="col-4 my-2">
  <div class="card shadow">
    <div class="card-body text-center">
      <h5 class="card-title">Nombre de commandes</h5>
      <p class="fs-1">70</p>
    </div>
  </div>
</div>