{% extends 'base-admin.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    <div class="row">
        <h3 class="text-center">Bienvenue sur votre dashboard !</h3>
        {% include 'admin/parts/search-bar.html.twig' %}

        <h3 class="text-center">Ici vous pourrez suivre l'activité de votre boutique</h3>
        <div class="col-4">
            <img src="{{ asset('img/chien-loupe.jpg') }}" width="50%" height="50%"
                 alt="la Nimes'Alerie" class="img-fluid mt-5 text-center">
        </div>




    </div>

{% endblock %}
