{% extends 'base-admin.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    <div class="row">
        {% include 'admin/parts/stat-card.html.twig' %}
        {% include 'admin/parts/stat-card.html.twig' %}
        {% include 'admin/parts/stat-card.html.twig' %}

        <!--2eme row de stat-cards-->
        {% include 'admin/parts/stat-card.html.twig' %}
        {% include 'admin/parts/stat-card.html.twig' %}
        {% include 'admin/parts/stat-card.html.twig' %}

        <!--Row du tableau des meilleures ventes-->
        {% include 'admin/parts/product-table.html.twig' %}
        <!--Row des diagrammes "camembert"-->
        {% include 'admin/parts/diagramm-card.html.twig' %}
        {% include 'admin/parts/diagramm-card.html.twig' %}
        {% include 'admin/parts/diagramm-card.html.twig' %}
    </div>

{% endblock %}
