<!-- Modal -->
<div class="modal fade" id="deliveryModal" tabindex="-1" aria-labelledby="deliveryModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deliveryModal">Livraison</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>Mode de livraison</h6>
        <p>Livraison gratuite par <strong>La Poste</strong>, à domicile, en agence postale ou en relais colis.</p>
        <h6>Suivez à tout moment votre commande</h6>
        <p>Pour que vous soyez informé au plus tôt, nous vous adressons un mail dès que votre colis est pret (commande expédiée) et mis à disposition de <strong>La Poste</strong> qui vous préviendra directement quand il l'aura pris en charge pour suivre son acheminement grâce au numéro d'expédition.</br></br>
        Toutes les réclamations relatives à un défaut des marchandises livrées, à une inexactitude dans les quantités ou à leur référence erronée doivent être transmises au Service Client de La Nimes'Alerie dans un délai de 48 heures à réception du colis, à défaut de quoi le droit à réclamation cessera d'être acquis.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn panier" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>