
    <div class="card shadow-lg mb-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-body">
                    <h5 class="card-title">Nous trouver</h5>
                    <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d91922.24912374071!2d4.464912414550785!3d43.94756618978864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b42d0bd6e85339%3A0xde88134f9f200c03!2zTsOubWVz!5e0!3m2!1sfr!2sfr!4v1640009192633!5m2!1sfr!2sfr"
                    width="100%" height="100%" style="border:0;" allowfullscreen=""
                    loading="lazy" class="">
                    </iframe>
                </div>
                <div class=" card-footer bg-white text-end">
                    <strong>LA NIMES'ALERIE</strong><br>
                    240 Allée des animaux rassasiés<br>
                    <em>30900 NIMES (a le riz)</em><br>
                    <strong>04*36*62*98*88</strong>
                </div>
            </div>
        </div>
    </div>
