        <section>
            <div class="container my-5 text-center">
                <h4 class="text-center">Nos offres promotionnelles</h4>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card shadow-lg">
                            <a href="">
                                <img src="{{ asset('img/promos/50off.jpg') }}" width="200" height="200" alt="produit phare" />
                            </a>
                            <div class="card-body">
                                <p>50%</p>
                                <p>Descriptif offre en quelques mots</p>
                                <p class="text-end">Vers l'offre>></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card shadow-lg">
                            <a href="">
                                <img src="{{ asset('img/promos/promoNoel.jpg') }}" width="200" height="200" alt="produit phare" />
                            </a>
                            <div class="card-body">
                                <p>Noël</p>
                                <p>Descriptif offre en quelques mots</p>
                                <p class="text-end">Vers l'offre>></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card shadow-lg">
                            <a href="">
                                <img src="{{ asset('img/promos/blackFriday.png') }}" width="200" height="200" alt="produit phare" />
                            </a>
                            <div class="card-body">
                                <p>Black Friday</p>
                                <p>Descriptif promo en quelques mots</p>
                                <p class="text-end">Vers l'offre>></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card shadow-lg">
                            <a href=""> 
                                <img src="{{ asset('img/promos/20off.jpg') }}" width="200" height="200" alt="produit phare" />
                            </a>
                            <div class="card-body">
                                <p>20%</p>
                                <p>Descriptif promo en quelques mots</p>
                                <p class="text-end">Vers l'offre>></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>