<!-- Modal -->
<div class="modal fade" id="paymentsModal" tabindex="-1" aria-labelledby="paymentsModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentsModal">Moyens de paiement</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{{ asset('img/reassurance/payments/cb.svg') }}" width="" height="" alt="cb" class="img-fluid">
        <img src="{{ asset('img/reassurance/payments/visa.svg') }}" width="" height="" alt="cb" class="img-fluid">
        <img src="{{ asset('img/reassurance/payments/mastercard.svg') }}" width="" height="" alt="cb" class="img-fluid">
        <img src="{{ asset('img/reassurance/payments/paypal.svg') }}" width="" height="" alt="cb" class="img-fluid">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn panier" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>