<!-- Modal -->
<div class="modal fade" id="spaceTravelModal" tabindex="-1" aria-labelledby="spaceTravelModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content  text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="spaceTravelModal">Voyage Spatial</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Le futur à portée de pattes</h6>
                <p>Grâce à un partenariat étroit avec <strong>la NASA et l'ESA</strong>, nous vous proposons d'envoyer dans l'espace vos compagnons à quatre pattes </p>
                <h6>Un produit de luxe</h6>
                <p>Un tel produit mérite toute notre préparation, et beaucoup de personnalisation, c'est pourquoi nous vous invitons à nous contacter ou venir nous rencontrer, pour vous proposer une solution sur-mesure (et inoubliable!)</p>
                <h6>à partir de 265'000€</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn panier" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>