{% extends 'base-admin.html.twig' %}

{% block title %}{{ parent() }} Nouveau produit{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau produit</h1>

    {{ include('admin/admin_product/_form.html.twig') }}

    <a href="{{ path('admin_product_index') }}">back to list</a>
{% endblock %}
