<form method="post" action="{{ path('admin_invoice_delete', {'id': invoice.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer cette facture?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ invoice.id) }}">
    <button class="btn btn-danger rounded-pill my-2">Supprimer</button>
</form>
